biopython==1.68
cycler==0.10.0
dfi==0.1.0
matplotlib==1.5.3
numpy==1.11.1
pandas==0.18.1
py==1.4.31
pyparsing==2.1.9
pytest==3.0.2
python-dateutil==2.5.3
pytz==2016.6.1
scipy==0.18.1
seaborn==0.7.1
six==1.10.0
