argparse
numpy
backports.shutil-get-terminal-size
biopython
cycler
decorator
enum34
matplotlib
pandas
pathlib2
pexpect
pickleshare
prompt-toolkit
ptyprocess
py
Pygments
pyparsing
python-dateutil
pytz
requests
scipy
seaborn
simplegeneric
six
traitlets
wcwidth
codecov
pytest
pytest-cov
pytest-pep8
